* {
  -webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
     -moz-box-sizing: border-box; /* Firefox 1+ */
          box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}

body {
    font-family: sans-serif;
}

/* Composer */

#preview-area {
    width: 320px;
    height: 214px;
    background: url(res/blur.png);
}
.preview-note, .preview-date {
    color: rgb(100, 100, 100);
    text-align: center;
    font-size: 10pt;
}
.preview-note {
    padding-top: 2px;
}

#drawing-area {
    width: 320px;
    height: 212px;
}
.canvas-box {
    width: 320px;
    height: 176px;
    padding: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.canvas-frame {
    background-repeat: no-repeat;
    width: 308px;
    height: 168px;
}
.canvas {
    display: block;
}

.ink-meter {
    display: inline-block;
    height: 20px;
    width: 5px;
    //border: 1px solid black;
    background: url(res/ink-bg.png) no-repeat;
    position: relative;
    vertical-align: bottom;
    margin-left: 3px;
    margin-right: 3px;
}

.ink-meter-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: url(res/ink-fg.png) no-repeat;
    background-position: bottom;
}

#tool-bar {
    width: 320px;
    height: 32px;
    overflow: hidden;
    background: url(box-shadow.png) repeat-x;
}

#save-button {
    position: absolute;
    left: 0;
    bottom: 0;
    border: 3px solid #5a8942;
    border-top-right-radius: 5px;
    border-left: none;
    border-bottom: none;
    font-size: 13pt;
    background: #e9ffdd;
}

#colour-box {
    border: 2px solid #aec760;
    padding: 2px;
    padding-bottom: 1px;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: inline-block;
    background: #d6dda3;
    width: 40px;
    margin-left: -20px;
    position: absolute;
    bottom: 0;
    left: 28%;
    text-align: center;
}

#colour-button {
    border: 2px solid white;
    width: 22px;
    height: 22px;
    display: inline-block;
    background-color: black;
    margin: 0;
}

.colour-picker {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 112px;
    height: 112px;
    border: 2px solid #aec760;
    border-left: 0;
    border-bottom: 0;
    border-radius: 4px;
    padding: 4px;
    background: #d6dda3;
}

.colour-wheel {
    width: 100px;
    height: 100px;
    position: relative;
    background: url(res/colour-wheel.png) no-repeat;
}

.hidden {
    display: none;
}

#tool-box {
    border: 2px solid #aec760;
    padding: 3px;
    padding-bottom: 0;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: inline-block;
    background: #d6dda3;
    width: 84px;
    margin-left: -42px;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
}

#pencil-button, #eraser-button {
    vertical-align: top;
    min-width: 30px;
    min-height: 26px;
    border: 2px solid white;
    border-bottom: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(200, 200, 200);
    margin: 0;
}

#pencil-button {
    background-image: url(res/pencil.png);
    background-color: #c1dd6b;
    border-color: #5a8942;
}

#eraser-button {
    background-image: url(res/eraser.png);
}

#down-button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 24px;
    height: 30px;
    background: url(res/arrow-down.png) no-repeat center center rgb(240, 240, 240);
    border: 2px solid rgb(200, 200, 200);
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 4px;
    padding: 3px;
}

#up-button {
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 26px;
    height: 30px;
    background: url(res/arrow-up.png) no-repeat center center rgb(240, 240, 240);
    border: 2px solid rgb(200, 200, 200);
    border-bottom: none;
    border-top-left-radius: 4px;
    padding: 3px;
}

#page-count {
    position: absolute;
    right: 60px;
    bottom: 0;
}

.clear-button {
    float: left;
}

/* Interstitial */

.loading-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.loading {
    width: 100%;
    height: 100%;
    border: 3px solid #5a8942;
    border-radius: 10px;
    background-color: white;
    font-size: 14pt;
    text-align: center;
    padding-top: 50px;
}

.loading-text {
    margin-bottom: 20px;
}

/* Browser */

#browse-area {
    width: 320px;
    height: 212px;
    background: url(res/blur.png);
}

.postcard {
    display: inline-block;
    width: 80px;
    height: 56px;
    border: 3px solid blue;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 1px;
}
.postcard-selected {
    border-color: lime;
}

#compose-button {
    position: absolute;
    left: 0;
    bottom: 0;
    border: 3px solid #5a8942;
    border-top-right-radius: 5px;
    border-left: none;
    border-bottom: none;
    font-size: 16pt;
    background: #e9ffdd;
    width: 70%;
}

#compose-button img {
    vertical-align: middle;
    margin-right: 6px;
}

#friends-button {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 3px solid #5a8942;
    border-top-left-radius: 5px;
    border-right: none;
    border-bottom: none;
    font-size: 16pt;
    background: #e9ffdd;
    width: 15%;
}

#friends-button img {
    vertical-align: middle;
    margin-right: 6px;
}

#friend-requests {
    position: absolute;
    right: 0;
    bottom: 36px;
    width: 200px;
    height: 160px;
    border: 3px solid #5a8942;
    border-right: 0;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 4px;
    background: #d6dda3;
    overflow-y: scroll;
}

#friend-requests h2 {
    margin: 2px;
    font-size: 14pt;
    font-family: sans-serif;
}

#friend-request-list {
    padding-left: 20px;
    list-style-type: square;
}

.friend-request-accept, .friend-request-deny {
    padding: 0;
    margin: 0 2px;
    border: 0;
    width: 20px;
    height: 20px;
    vertical-align: top;
}
.friend-request-accept {
    background: transparent url(res/friend-accept.png) no-repeat no-repeat;
}
.friend-request-deny {
    background: transparent url(res/friend-deny.png) no-repeat no-repeat;
}

#add-friend-box {
    border: 2px solid #5a8942;
    border-radius: 4px;
    font-size: 14pt;
    background: white;
    width: 70%;
    margin-right: 5px;
}

#add-friend-button {
    border: 2px solid #5a8942;
    border-radius: 4px;
    font-size: 14pt;
    background: #e9ffdd;
}

#friends-button img {
    vertical-align: bottom;
    margin-right: 6px;
}

#letter-carousel {
    position: absolute;
    top: 50px;
    left: 95px;
    height: 80px;
}

.letter-preview {
    position: absolute;
    width: 130px;
    height: 80px;
    border: 8px solid blue;
    border-radius: 8px;
}

.letter-preview-own {
    border-color: silver;
}

#carousel-left-button, #carousel-right-button {
    position: absolute;
    bottom: 35px;
    border: 3px solid #aaaaaa;
    background-color: #e9e9e9;
    background-repeat: no-repeat;
    background-position: center center;
    width: 35px;
    height: 35px;
}

#carousel-left-button {
    position: absolute;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    background-image: url(res/arrow-left.png);
}

#carousel-right-button {
    position: absolute;
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    background-image: url(res/arrow-right.png);
}

/* Login */

#login-area {
    width: 320px;
    height: 212px;
    background: url(res/blur.png);
    padding: 10px;
}

h1 {
    font-size: 14pt;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}

p {
    text-align: center;
}

#username-input, #password-input {
    display: block;
    width: 240px;
    margin: 0 auto 20px auto;
    border: 3px solid #5a8942;
    border-radius: 5px;
    font-size: 14pt;
    background: white;
}

#login-button, #register-button {
    display: block;
    width: 240px;
    margin: 0 auto 10px auto;
    border: 3px solid #5a8942;
    border-radius: 5px;
    font-size: 16pt;
    background: #e9ffdd;
}
